/*
 * Customer Locations and Products API of MyEnterprise
 *
 * Reads customer locations and products
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 * Generated by: https://openapi-generator.tech
 */

using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc;
using StandardProducts.Attributes;
using StandardProducts.Models;
using Swashbuckle.AspNetCore.Annotations;
using System.ComponentModel.DataAnnotations;
using System.Threading.Tasks;
using ProblemDetails = StandardProducts.Models.ProblemDetails;

namespace StandardProducts.Controllers {

    public class ProductOverviewApiController : Controller {
        private readonly IProductOverviewController _implementation;

        public ProductOverviewApiController(IProductOverviewController productOverviewController) {
            _implementation = productOverviewController;
        }
        /// <summary>
        /// Get list of types of DataProducts (MPLS, Etherlink)
        /// </summary>
        /// <remarks>Get list of types of DataProducts (MPLS, Etherlink)</remarks>
        /// <param name="getDataProductsOverviewRequest"></param>
        /// <response code="200">Success</response>
        /// <response code="400">Bad Request e.g. validation error shows data issues</response>
        /// <response code="415">Non-parseable request/response</response>
        /// <response code="500">Internal server error</response>
        /// <response code="503">Connection failure</response>
        /// <response code="504">External interface timed out</response>
        /// <response code="0">Unexpected error</response>
        [HttpPost]
        [Route("/api/StandardProducts/GetProductsOverview")]
        [ValidateModelState]
        [SwaggerOperation("GetProductsOverviewPost")]
        [SwaggerResponse(statusCode: 200, type: typeof(ProductsOverviewResult), description: "Success")]
        [SwaggerResponse(statusCode: 400, type: typeof(ProblemDetails), description: "Bad Request e.g. validation error shows data issues")]
        [SwaggerResponse(statusCode: 415, type: typeof(ProblemDetails), description: "Non-parseable request/response")]
        [SwaggerResponse(statusCode: 500, type: typeof(ProblemDetails), description: "Internal server error")]
        [SwaggerResponse(statusCode: 503, type: typeof(ProblemDetails), description: "Connection failure")]
        [SwaggerResponse(statusCode: 504, type: typeof(ProblemDetails), description: "External interface timed out")]
        [SwaggerResponse(statusCode: 0, type: typeof(ProblemDetails), description: "Unexpected error")]
        public async Task<IActionResult> GetProductsOverviewPost([FromBody]GetDataProductsOverviewRequest getDataProductsOverviewRequest) {
            return new ObjectResult(await _implementation.GetProductsOverviewPostAsync(getDataProductsOverviewRequest));
        }
    }
}
